In [1]:
d = {1:"gello",2:"main",3:"partner"}
print(d)

{1: 'gello', 2: 'main', 3: 'partner'}

In [2]:
#Integrated dictionary
part = ("eng","maths")
d = {"name":"ayesha","age":20,"subjects":part}
print(d)

{'name': 'ayesha', 'age': 20, 'subjects': ('eng', 'maths')}

In [4]:
# using dict method to create dictionary
t = [("name","ayesha"),("age",29)]
dic = dict(t)
print(dic)

{'name': 'ayesha', 'age': 29}

In [5]:
t = (1, 2)
d = {[1]: 23, t: 34}
print(d)
"""t = (1, 2): This line creates a tuple t containing two elements: 1 and 2.

d = {[1]: 23, t: 34}:

{[1]: 23}: This part of the dictionary tries to use a list [1] as a key. However, lists cannot be used as dictionary keys in Python because they are mutable objects. You'll encounter a TypeError if you attempt to run this code.
t: 34: This part of the dictionary is valid. It uses the tuple t as a key with the corresponding value of 34."""

TypeError: unhashable type: 'list'

In [6]:
# Access the dict values

d = {'name':'Sne', 'age':22, 'addr':['Sarud', 'Kop']}
print(d['addr'])

['Sarud', 'Kop']

In [7]:
print(d['age'])

22

In [8]:
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'Sne'), ('age', 22), ('addr', ['Sarud', 'Kop'])])
dict_keys(['name', 'age', 'addr'])
dict_values(['Sne', 22, ['Sarud', 'Kop']])

In [9]:
for i in d.values():
    print(i)

Sne
22
['Sarud', 'Kop']

In [10]:
for i in d.items():
  print(i)

('name', 'Sne')
('age', 22)
('addr', ['Sarud', 'Kop'])

In [11]:
for i in d.keys():
  print(i)

name
age
addr

In [12]:
for i in sorted(d.keys()):
  print(i)

addr
age
name

In [14]:
print(id(d['addr']))

135029624115136

In [15]:
d['Name'] = d['name']
print(d)

{'name': 'Sne', 'age': 22, 'addr': ['Sarud', 'Kop'], 'Name': 'Sne'}

In [16]:
print(id(d['name']))
print(id(d['Name']))

135029624042224
135029624042224

In [17]:
# update() Function
d1 = {'name': 'Sne'}
d2 = {'age': 21}
d3 = {'addr': 'Kop'}

d2.update(d1)
d1.update(d3)
print(d1, d2, d3)

{'name': 'Sne', 'addr': 'Kop'} {'age': 21, 'name': 'Sne'} {'addr': 'Kop'}

In [18]:
# setdefault() Function

d = {'name': 'M'}
print(d.setdefault('name', 'S'))
print(d.setdefault('addr', 'Kop'))
print(d.setdefault('sub'))

print(d)

M
Kop
None
{'name': 'M', 'addr': 'Kop', 'sub': None}

In [19]:
d = {"name":"ayesha","age":20,"addr":"khm"}
print(d)

d.pop('name')
print(d)
del d['age']
print(d)
d.clear()
print(d)
del d
print(d)

{'name': 'ayesha', 'age': 20, 'addr': 'khm'}
{'age': 20, 'addr': 'khm'}
{'addr': 'khm'}
{}

NameError: name 'd' is not defined

In [20]:
# zip() Function

d = {'name': 'Sne', 'age': 21, 'addr': 'Kop'}

a = list(d.keys())
b = list(d.values())

print(a, b)

n = dict(zip(a,b))
print(n)

['name', 'age', 'addr'] ['Sne', 21, 'Kop']
{'name': 'Sne', 'age': 21, 'addr': 'Kop'}

In [21]:
# Easy sorting

d = {'name': 'Sne', 'age': '21', 'addr': 'Kop'}
print(dict(sorted(d.items(), key = lambda item: item[0])))
print(dict(sorted(d.items(), key = lambda item: item[1])))

{'addr': 'Kop', 'age': '21', 'name': 'Sne'}
{'age': '21', 'addr': 'Kop', 'name': 'Sne'}

In [22]:
# from keys helps to spread the same value for the keys
d = dict.fromkeys(["name","age","addr"],'snehal')
print(d)

{'name': 'snehal', 'age': 'snehal', 'addr': 'snehal'}

In [23]:
keys = ['age', 'addr', 2, 'name']
values = [[21], 'Kop', True, 'Man']

di = {k:v for (k,v) in zip(keys, values) if type(k)==int}
ds = {k:v for (k,v) in zip(keys, values) if type(k)!=int}
db = {k:v for (k,v) in zip(keys, values) if type(v)==bool}
dl = {k:v for (k,v) in zip(keys, values) if type(v)==list}
print(di)
print(ds)
print(db)
print(dl)

{2: True}
{'age': [21], 'addr': 'Kop', 'name': 'Man'}
{2: True}
{'age': [21]}

In [24]:
# Dictionary compre from list

l = [1,2,3,4,5]
dl = {i:i**2 for i in l}
print(dl)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [25]:
# Dictionary compre from string

str = 'SNEHAL'
ds = {s:s*3 for s in str}
print(ds)

{'S': 'SSS', 'N': 'NNN', 'E': 'EEE', 'H': 'HHH', 'A': 'AAA', 'L': 'LLL'}

In [26]:
d = {i:i**2 for i in range(10) if i%2==0}
print(d)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [27]:
# Nested Dictionary

print('Dict with values as lists..')
dl = {i:[i*d for d in range(1,11)] for i in range(11, 21)}

for (k,v) in dl.items():
    print(k, v)

Dict with values as lists..
11 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
12 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
13 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
14 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140]
15 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150]
16 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160]
17 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]
18 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180]
19 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
20 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [28]:
# Dict with values as strings

ds = {i:{d:d*i for d in range(1,5)} for i in 'ABCD'}

for (k,v) in ds.items():
    print(k, v)

A {1: 'A', 2: 'AA', 3: 'AAA', 4: 'AAAA'}
B {1: 'B', 2: 'BB', 3: 'BBB', 4: 'BBBB'}
C {1: 'C', 2: 'CC', 3: 'CCC', 4: 'CCCC'}
D {1: 'D', 2: 'DD', 3: 'DDD', 4: 'DDDD'}

In [30]:
# Dict Functions - len, any, all, sorted

d = {2:'Sv', 0:'Sn', 1:'Kl', 3:'Sh'}
e = {}
print(len(d))
print(any(d))
print(any(e))
print(all(d))
print(all(e))
print(sorted(d))
print(sorted(d, reverse=True))
# len(d): Returns the number of items (key-value pairs) in the dictionary d. In this case, it will return 4 because there are 4 items in d.

# any(d): Returns True if any of the keys in dictionary d evaluate to True when converted to a Boolean value. Since the keys are integers and all of them are non-zero, it will return True.

# any(e): Returns False because the dictionary e is empty, and there are no items to evaluate.

# all(d): Returns True if all the keys in dictionary d evaluate to True when converted to a Boolean value. Since all keys are non-zero integers, it will return True.

# all(e): Returns True because the dictionary e is empty, and there are no items to evaluate.

# sorted(d): Returns a new list containing all the keys from the dictionary d, sorted in ascending order based on their natural order (in this case, the order of the integer keys). So, the output would be [0, 1, 2, 3].

# sorted(d, reverse=True): Returns a new list containing all the keys from the dictionary d, sorted in descending order based on their natural order (in this case, the order of the integer keys). So, the output would be [3, 2, 1, 0].

4
True
False
False
True
[0, 1, 2, 3]
[3, 2, 1, 0]