In [2]:
lst = list([1, 2, 3, 5])
print(lst)

[1, 2, 3, 5]

In [4]:
lst = ['1', '2', '3', '5']  # Assuming lst is a list of strings
l = [item.split() for item in lst]  # Split each string in lst
print(l)

[['1'], ['2'], ['3'], ['5']]

In [5]:
lst.extend([6,7,8])
print(lst)

['1', '2', '3', '5', 6, 7, 8]

In [7]:
lst.extend((2,78,90))
print(lst)

['1', '2', '3', '5', 6, 7, 8, 2, 78, 90]

In [8]:
lst.extend([2,78,90]) # extend can be used to extend the list by help of tuples , sets and dictionaries
print(lst)

['1', '2', '3', '5', 6, 7, 8, 2, 78, 90, 2, 78, 90]

In [9]:
lst.insert(1, [0,0])
print(lst)

['1', [0, 0], '2', '3', '5', 6, 7, 8, 2, 78, 90, 2, 78, 90]

In [10]:
d = [2,3,4,5,6,7,3,5,6,3]
print(d)

d.remove(3)
print(d)

[2, 3, 4, 5, 6, 7, 3, 5, 6, 3]
[2, 4, 5, 6, 7, 3, 5, 6, 3]

In [11]:
d = [0,9,8]*5
print(d)

[0, 9, 8, 0, 9, 8, 0, 9, 8, 0, 9, 8, 0, 9, 8]

In [12]:
f = d.copy()
print(f)
print(f==d)
print(f is d)

[0, 9, 8, 0, 9, 8, 0, 9, 8, 0, 9, 8, 0, 9, 8]
True
False

In [13]:
f = [1,2,3]
c = f
print(c is f)

True

In [14]:
f = d.copy()
print(f is d)

False

In [15]:
# count()

t = [1,2,3,2,4,3,5,6]
print(t.count(1))
print(t.count(2))
print(t.count(3))

1
2
2

In [16]:
d = [1, 2, 3, 4, 5]
print(sum(d))
print(max(d))
print(min(d))

15
5
1

In [17]:
t = [True, False, True, False]
q = ['', '', '', False, 0, [0]]
print(any(t))
print(any(q))
# For list t, any(t) checks if there's at least one True element in the list. Since there are two True values in the list, it returns True.
# For list q, any(q) checks if there's at least one truthy element in the list. In Python, empty strings '', False, integer 0, and an empty list [] evaluate to False in a boolean context. So, any(q) returns False.

True
True

In [18]:
d = [True, True, True]
print(all(d))

f = ['f', [0]]
print(all(f))

print(all([]))

True
True
True

In [19]:
c = [1,2,3,4,5]

print(list(enumerate(c)))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [20]:
for i, t in enumerate(d, 1):
    print(i, t)

1 True
2 True
3 True

In [21]:
# List comprehenstion

d = [i**2 for i in range(5)]
print(d)

[0, 1, 4, 9, 16]