In [1]:
s = {1,2,1,2,3,4,3,5,2,3,5,7} # removes duplicates
print(s)

{1, 2, 3, 4, 5, 7}

In [2]:
s = {1, False, True, 12, 'Snehal', 0}
print(s)

{False, 1, 12, 'Snehal'}

In [3]:
print(len(s))

4

In [4]:
# {1, (1, 3, 2, 5)}: This is a set containing two elements.
# The first element is the integer 1.
# The second element is a tuple (1, 3, 2, 5).
# In Python, sets can only contain hashable elements. Tuples are hashable if all their elements are hashable. Since integers are hashable, the tuple (1, 3, 2, 5) is hashable.
print({1,   (1,3,2,5)})

{1, (1, 3, 2, 5)}

In [5]:
s = {1,4,2,3,1,2,3,4,5,6}
s.add(23)
print(s)

{1, 2, 3, 4, 5, 6, 23}

In [8]:
s = {1,4,2,3,1,2,3,4,5,6}
s.insert(3,23)
print(s)

AttributeError: 'set' object has no attribute 'insert'

In [9]:
s = {1,2,3,4}
l = ['a','s','d','f']
t = (2.2, 3.4, 5.6)

d = {0}
d.update(('Snehal', 'Mankar'))
print(d)

d.update(s)
print(d)

d.update(l)
print(d)

d.update(t)
print(d)

{0, 'Mankar', 'Snehal'}
{0, 'Snehal', 1, 'Mankar', 2, 3, 4}
{0, 1, 2, 3, 4, 'f', 's', 'a', 'Snehal', 'Mankar', 'd'}
{0, 1, 2, 3, 4, 'f', 2.2, 3.4, 5.6, 's', 'a', 'Snehal', 'Mankar', 'd'}

In [10]:
u1 = {1,2,3,4}
u2 = {'a','b'}
print(u1.union(u2))

{1, 2, 3, 4, 'a', 'b'}

In [11]:
n = u1.union(u2)

n.remove(3)
print(n)

n.pop()
print(n)

{1, 2, 4, 'a', 'b'}
{2, 4, 'a', 'b'}

In [14]:
n = {1,2,3,4}
n.discard(8)
print(n)

{1, 2, 3, 4}

In [15]:
n.clear()
print(n)

set()

In [16]:
del n
print(n)

NameError: name 'n' is not defined

In [17]:
# union
u1 = {1, 2, 3, 4}
u2 = {1.1, 2.2, 3.3, 4.4}
u3 = {'a', 'b', 'c', 'd'}
u4 = [True, False, False, True]

print(u1.union(u2, u3, u4))

{False, 1, 2, 3, 4, 1.1, 2.2, 3.3, 4.4, 'd', 'c', 'a', 'b'}

In [18]:
s = {1,2,4,3,5,7,4,6,8,4,2,5,3,6}
print(s)
print(avg(s))
print(max(s))
print(min(s))

{1, 2, 3, 4, 5, 6, 7, 8}

NameError: name 'avg' is not defined

In [19]:
s = {1, 2, 4, 3, 5, 7, 4, 6, 8, 4, 2, 5, 3, 6}

# Calculating average
average = sum(s) / len(s)

# Finding maximum and minimum
maximum = max(s)
minimum = min(s)

print("Set:", s)
print("Average:", average)
print("Maximum:", maximum)
print("Minimum:", minimum)

Set: {1, 2, 3, 4, 5, 6, 7, 8}
Average: 4.5
Maximum: 8
Minimum: 1

In [20]:
# Frozenset
s = {1,2,4,3,5,7,4,6,8,4,2,5,3,6}
f = frozenset(s)
print(f)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [21]:
s1 = {1,2}
s2 = (4.4,3.3)
s3 = ['a','b']
s4 = {True, False}
s5 = 'Snehal'

print(s1.union(s2, s3, s4, s5))

{False, 1, 2, 3.3, 4.4, 'h', 'S', 'n', 'e', 'l', 'a', 'b'}