In [1]:
t = (1,2,3,4)
print(type(t))
print(len(t))

<class 'tuple'>
4

In [2]:
# min, max and sum

t = (1,2,3,4,5,6)
print(min(t))
print(max(t))
print(sum(t))

1
6
21

In [3]:
# Indexing and Slicing from the tuple

print(t[2])
print(t[-3])
print(t[1:4])
print(t[-4:-1])

3
4
(2, 3, 4)
(3, 4, 5)

In [5]:
p = (1,2,3,4,2,3,4,5,2,3,4,2,3,1,3,2)
print(p.count(7))
print(p.index(2,2,-1))
print(p.index(1))

0
4
0